.container {
    display: flex;
    align-items: center;
    /* padding-bottom: 100px;
    padding-bottom: 10rem; */
    padding-right: 1.5%;
    width: 57%;

}



.textarea {
    margin: 50px 0 0 50px;
}

.mainText {
    max-width: 700px;
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: 0.035em;
    margin-bottom: 20px;
}

.smallText {
    max-width: 550px;
    flex-wrap: wrap;
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.01em;
    z-index: 15;
    margin-bottom: 35px;
}

.ctaArea {
    display: flex;
    align-items: center;
}

.userForm {
}

input { 
    width: 300px;
    background: #FFFFFF;
    
    box-sizing: border-box;
    border-color: #000000;
    
    color: #0a1c2e;
    font-size: 16px;
    padding-left: 1rem;
    line-height: 2.5rem;
    text-align: left;
    flex-grow: 1;
    /* transition: border-color .25s cubic-bezier(.45,.01,.45,.95); */
    transition-property: border-color;
    transition-duration: 0.25s;
    transition-timing-function: cubic-bezier(0.45, 0.01, 0.45, 0.95);
    transition-delay: 0s;
    
}

.formBtn {
    width: 100px;
    background: #63B8A7;
    height: inherit;
    font-size: 16px;
    line-height: 2.5rem;
    border-radius: 0 5px 5px 0;
    
    box-sizing: border-box;
    border-color: #63B8A7;
}


svg {
    transition: all 1s ease-in-out;
}

svg:hover {
    transform: scale(1.2);
}


/* 
.click {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

#stateBtn {
    border: none;
    background: none;
    cursor: pointer;
}

.regDesc {
    height: 1px;
    width: 1px;
    overflow: hidden;
    position: absolute;
}

.userForm {
    position: absolute;
    margin-top: 20px;
    display: flex;
    top: 63vh;
    right: 50vw;
    flex-direction: column;
    row-gap: 10px;
}

input, textarea {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    background: #e7e2ff;
    border: 3px solid rgba(41, 7, 119, 0.459);
    resize: none;
    font-size: 16px;
}

.formBtn {
    width: fit-content;
    padding: 10px;
    border-radius: 15px;
    background: rgb(20, 20, 143);
    color: white;
    border: none;
} */




/*=================== MEDIA QUERIES (Medium devices) ===================*/
@media screen and (max-width: 1024px) {
    .container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        min-height: 500px;
        min-height: 50rem;
        width: 74%;
    }

    .textarea {
        margin-left: auto;
        margin-right: auto;
    }

    .mainText {
        max-width: 400px;
        margin-bottom: 20px;
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        line-height: 50px;
        letter-spacing: 0.035em;
        z-index: 2;
    }

}





/*=================== MEDIA QUERIES (Small devices) ===================*/
@media screen and (max-width: 768px) {
    .container {
        padding: 5px;
        margin: auto;
    }
 
    .textarea {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .mainText {
        max-width: 450px;
        font-style: normal;
        font-weight: 700;
        font-size: 45px;
        line-height: 50px;
        letter-spacing: 0.035em;
        z-index: 2;
        text-align: left;
    }

    
    .smallText {
        max-width: 300px;
        font-style: normal;
        text-align: left;
        font-weight: 300;
        font-size: 20px;
        line-height: 25px;
        letter-spacing: 0.01em;
    }

    /* .click {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
        position: relative;
        top: -3vh;
    }

    .btnSvg {
        height: 80px;

    }

    .userForm {
        position: absolute;
        right: 45vw;
        top: -2vh;
        display: flex;
        z-index: 10;

    }
    
    input, textarea {
        padding: 3px;
        min-width: 100px;
    } */


}